html
  meta(charset='utf-8')
  head
    title Login Page
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/stylesheet.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/js/login.js')
   
    
  body
    .container
      
      .login-box.animated.fadeInUp
        .box-header
          h2 Customer Login
        label(for='username') Username
        br
        input#username(type='text')
        br
        label(for='password') Password
        br
        input#password(type='password')
        br
       button#submit(type='submit') Sign In
        br
        a(href='#')
          p.small Forgot your password?